<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'bootstrap.css')}}">
	</head>
	<body>
		<div class="container" style="margin-left: 10px; margin-right: 10px; max-height: 960px; max-width: 600px">
			<center><h2>Klasifikasi Aliran pada Novel</h2></center>
			<div class="row">
				<div class="col-sm">
					<form action="{{url_for('result')}}" method="POST" enctype="multipart/form-data">
						<table class="table table-bordered table-striped">
							<thead class="thead-light"><tr><th>
								<h3>Input file (.csv)</h3>
							</th></tr></thead>
							<tr><td>
								<input type="file" class="form-control-file" id="inputfile" name="inputfile" required>
							</td></tr>
							<tr><td>
								<button type="submit" class="btn btn-outline-dark ">Submit</button>
							</td></tr>
						</table>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<p>Aturan File:</p>
					<ol>
						<p>1. File berisi konten novel yang akan diklasifikasi </p>
						<p>2. Pastikan file mempunyai format .csv </p>
						<p>3. Kolom data berupa baris kalimat diberi nama "baris" </p>
						<p>4. Kolom kelas berupa aliran diberi nama "genre" </p>
					</ol>
				</div>
			</div>
		</div>
	</body>
</html>