<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<script src="{{url_for('static', filename = 'Chart.bundle.min.js')}}"></script>
	</head>
	<body>
		<div class="container" style="margin-left: 10px; margin-right: 10px; max-height: 960px; max-width: 600px">
			<center><h2>Klasifikasi Aliran pada Novel</h2></center>
			<div class="row" style="align-content: right">
				<div class="col-sm">
					<form action="{{url_for('index')}}" method="GET" enctype="multipart/form-data">
					<button type="submit" class="btn btn-outline-dark ">Back to home</button>
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<b><h3>Hasil Klasifikasi</h3></b>
			</div>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#menu1">Naive Bayes</a></li>
				<li><a data-toggle="tab" href="#menu2">Maximum Entropy</a></li>
			</ul>
			<div class="row">
				<div class="tab-content">
					<div id="menu1" class="tab-pane fade in active">
						<p>Metoda Klasifikasi Naive Bayes</p>
						<p>Filename : {{fname}}</p>
						<p>Aliran : </p>
						<ul>
							<li><p>Action-Fantasy      = {{result_NB[0]}}</p></li>
							<li><p>Modern-Sice-of-Life = {{result_NB[1]}}</p></li>
							<li><p>Other               = {{result_NB[2]}}</p></li>
							<li><p>Total               = {{result_NB[0] + result_NB[1] + result_NB[2]}}</p></li>
						</ul>
						<canvas id="chart_NB"></canvas>
					</div>
					<div id="menu2" class="tab-pane fade">
						<p>Metoda Klasifikasi Maximum Entropy</p>
						<p>Filename : {{fname}}</p>
						<p>Aliran : </p>
						<ul>
							<li><p>Action-Fantasy      = {{result_ME[0]}}</p></li>
							<li><p>Modern-Sice-of-Life = {{result_ME[1]}}</p></li>
							<li><p>Other               = {{result_ME[2]}}</p></li>
							<li><p>Total               = {{result_ME[0] + result_ME[1] + result_ME[2]}}</p></li>
						</ul>
						<canvas id="chart_ME"></canvas>
					</div>
				</div>
			</div>
			<div class="row">
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script>
			var ctx_NB = document.getElementById('chart_NB').getContext('2d');
			var chart_NB = new Chart(ctx_NB, {
			    type: 'bar',
			    data: {
			        labels: ['Action-Fantasy','Modern-Slice-of-Life','Other'],
			        datasets: [{
			            label : 'Percentase (%) Aliran',
			            data: [{{percentage_NB[0]}},{{percentage_NB[1]}},{{percentage_NB[2]}}],
			            backgroundColor: [
			                'rgba(75, 192, 192, 0.2)',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: [
			                'rgba(75, 192, 192, 1)',
			                'rgba(153, 102, 255, 1)',
			                'rgba(255, 159, 64, 1)'
			            ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    max: 100,
                                min: 0,
                                stepSize: 10
			                }
			            }]
			        }
			    }
			});
			var ctx_ME = document.getElementById('chart_ME').getContext('2d');
			var chart_ME = new Chart(ctx_ME, {
			    type: 'bar',
			    data: {
			        labels: ['Action-Fantasy','Modern-Slice-of-Life','Other'],
			        datasets: [{
			            label : 'Persentase (%) Aliran',
			            data: [{{percentage_ME[0]}},{{percentage_ME[1]}},{{percentage_ME[2]}}],
			            backgroundColor: [
			                'rgba(75, 192, 192, 0.2)',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: [
			                'rgba(75, 192, 192, 1)',
			                'rgba(153, 102, 255, 1)',
			                'rgba(255, 159, 64, 1)'
			            ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    max: 100,
                                min: 0,
                                stepSize: 10
			                }
			            }]
			        }
			    }
			});
		</script>
	</body>
</html>