<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<script src="{{url_for('static', filename = 'Chart.bundle.min.js')}}"></script>
	</head>
	<body>
		<div class="container" style="margin-left: 10px; margin-right: 10px; max-height: 960px; max-width: 600px">
			<center><h2>Klasifikasi Aliran pada Novel</h2></center>
			<div class="row">
				<div class="col-sm">
					<form action="{{url_for('index')}}" method="GET" enctype="multipart/form-data">
					<button type="submit" class="btn btn-outline-dark ">Back to home</button>
				</div>
			</div>
			<div class="row"></div>
			<div class="row">
				<b><p>Hasil Klasifikasi</p></b>
			</div>
			<div class="row">
				<div class="col-sm">
					<p>Metoda Klasifikasi Naive Bayes</p>
					<p>Filename : {{fname}}</p>
					<p>Aliran : </p>
					<ul>
						<li><p>Action-Fantasy      = {{result_NB[0]}}</p></li>
						<li><p>Modern-Sice-of-Life = {{result_NB[1]}}</p></li>
						<li><p>Other               = {{result_NB[2]}}</p></li>
						<li><p>Total               = {{result_NB[0] + result_NB[1] + result_NB[2]}}</p></li>
					</ul>
					<div><canvas id="chart_NB"></canvas></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<p>Metoda Klasifikasi Maximum Entropy</p>
					<p>Filename : {{fname}}</p>
					<p>Aliran : </p>
					<ul>
						<li><p>Action-Fantasy      = {{result_ME[0]}}</p></li>
						<li><p>Modern-Sice-of-Life = {{result_ME[1]}}</p></li>
						<li><p>Other               = {{result_ME[2]}}</p></li>
						<li><p>Total               = {{result_ME[0] + result_ME[1] + result_ME[2]}}</p></li>
					</ul>
					<div><canvas id="chart_ME"></canvas></div>
				</div>
			</div>
		</div>
		<script src="{{url_for('static', filename = 'bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'jquery-3.5.1.min.js')}}"></script>
		<script>
			var ctx_NB = document.getElementById('chart_NB').getContext('2d');
			var chart_NB = new Chart(ctx_NB, {
			    type: 'bar',
			    data: {
			        labels: ['Action-Fantasy','Modern-Slice-of-Life','Other'],
			        datasets: [{
			            data: [{{result_NB[0]}},{{result_NB[1]}},{{result_NB[2]}}],
			            backgroundColor: [
			                'rgba(255, 99, 132, 0.2)',
			                'rgba(54, 162, 235, 0.2)',
			                'rgba(255, 206, 86, 0.2)'
			            ],
			            borderColor: [
			                'rgba(255, 99, 132, 1)',
			                'rgba(54, 162, 235, 1)',
			                'rgba(255, 206, 86, 1)'
			            ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
			var ctx_ME = document.getElementById('chart_ME').getContext('2d');
			var chart_ME = new Chart(ctx_ME, {
			    type: 'bar',
			    data: {
			        labels: ['Action-Fantasy','Modern-Slice-of-Life','Other'],
			        datasets: [{
			            data: [{{result_ME[0]}},{{result_ME[1]}},{{result_ME[2]}}],
			            backgroundColor: [
			                'rgba(75, 192, 192, 0.2)',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: [
			                'rgba(75, 192, 192, 1)',
			                'rgba(153, 102, 255, 1)',
			                'rgba(255, 159, 64, 1)'
			            ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
		</script>
	</body>
</html>